.img__img {
   height: 300px;

}
/* quick reset */

/* relevant styles */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 90%;
  width: 100%;
  text-align: center;
  padding: 2rem;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}